@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}

/* MAIN */
.cards-container {
  display: flex;
  max-width: 920px;
}

.card:first-child {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.card:last-child {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.card {
  padding: 3.125rem;
}

.card-header {
  text-transform: uppercase;
  color: hsl(0, 0%, 95%);
  margin-top: 2.5rem;
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
  font-size: 2.5rem;
}

.card p {
  font-size: 15px;
  line-height: 1.5;
  color: hsla(0, 0%, 100%, 0.75);
  margin-top: 1.875rem;
}

.card-btn button {
  background-color: #fff;
  margin-top: 5rem;
  padding: 15px 30px;
  border: 2px solid #fff;
  font-size: 1rem;
  border-radius: 25px;
  cursor: pointer;
}

.card-btn button:hover {
  background-color: transparent;
  color: hsl(0, 0%, 95%);
}

.orange {
  color: hsl(31, 77%, 52%);
}

.blue {
  color: hsl(184, 100%, 22%);
}

.green {
  color: hsl(179, 100%, 13%);
}

.orange-card {
  background-color: hsl(31, 77%, 52%);
}

.blue-card {
  background-color: hsl(184, 100%, 22%);
}

.green-card {
  background-color: hsl(179, 100%, 13%);
}

/* FOOTER */
.attribution {
  font-size: 1rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* MEDIA QUERY */
@media screen and (max-width: 600px) {
  body {
    padding: 20px;
    height: 100%;
  }

  .cards-container {
    max-width: 325px;
    flex-direction: column;
  }

  .card-btn button {
    margin-top: 1.875rem;
  }

  .card:first-child {
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
  }

  .card:last-child {
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
  }
}
